<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myProject.common.dao.ModuleRoleMapper">
	
	
	<sql id="mapSQL" >
						  rid as "rid" 
						 ,   mid as "mid" 
				  	</sql>
  	
	<sql id="objectSQL" >
						  rid as "rid" 
						 ,   mid as "mid" 
				  	</sql>
	
	<select id="selectByPrimaryKey" resultType="com.myProject.common.model.ModuleRole" parameterType="java.lang.Long" >
    	SELECT 
    	<include refid="mapSQL" />
    	FROM mp_module_role
   		 WHERE 
												  </select>
  
   <select id="selectModelByExample" resultType="com.myProject.common.model.ModuleRole" parameterType="com.myProject.common.model.ModuleRole" >
    SELECT 
    <include refid="objectSQL" />
    FROM mp_module_role
    <where>
    	 <if test="rid!=null">AND  rid = #{rid}</if>
		<if test="mid!=null">AND  mid = #{mid}</if>
		    </where>
  </select>
  
  <select id="selectByExample" resultType="java.util.HashMap" parameterType="com.myProject.common.model.ModuleRole" >
    SELECT 
    <include refid="mapSQL" />
    FROM mp_module_role
    <where>
    	 <if test="rid!=null">AND  rid = #{rid}</if>
		<if test="mid!=null">AND  mid = #{mid}</if>
		    </where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    DELETE FROM mp_module_role
    WHERE 										  </delete>
  
  <!--mysql主键自增-->	
  <insert id="insert" parameterType="com.myProject.common.model.ModuleRole" useGeneratedKeys="true" keyProperty="">
    INSERT INTO mp_module_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	    	    	    	<if test="rid != null" >rid,</if>
    			    	    	    	<if test="mid != null" >mid,</if>
    			    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	    	    	    	<if test="rid != null" >#{rid},</if>
				    	    	    	<if test="mid != null" >#{mid},</if>
				    </trim>
  </insert>
  
   <update id="update" parameterType="com.myProject.common.model.ModuleRole" >
    UPDATE mp_module_role
    <set >
    	    	<if test="rid != null" >rid = #{rid},</if>
		    	<if test="mid != null" >mid = #{mid},</if>
		    </set>
    WHERE 										  </update>
  
  
	
	<!--mysql批量插入-->	
		 <insert id="insertModels"  parameterType="java.util.List">  
	     insert into mp_module_role
	     <foreach collection="list" item="item" index="index" > 
	     <if test="index ==0"> 
	     <trim prefix="(" suffix=")" suffixOverrides="," >
	     	     	         	 <if test="item.rid != null" >rid,</if>
    	 		 	     	         	 <if test="item.mid != null" >mid,</if>
    	 		 	     </trim>
	     </if>
	     </foreach>
	     values
	     <foreach collection="list" item="item" index="index" separator="," >  
	     <trim prefix="(" suffix=")" suffixOverrides="," >
	      	      	          			<if test="item.rid != null" >#{item.rid},</if>
    	  		  	      	          			<if test="item.mid != null" >#{item.mid},</if>
    	  		  	     </trim>								    										
	     </foreach>				
	</insert>
	
	
	<!---->
	<update id="updateModels" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE mp_module_role
		    <set >
		    			    	<if test="rid != null" >rid = #{rid},</if>
						    	<if test="mid != null" >mid = #{mid},</if>
						    </set>
		    WHERE 																						</foreach>
	</update>
	
	
</mapper>