<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myProject.firstT.dao.SchooleMapper">
	
	
	<sql id="mapSQL" >
						  ID as "id" 
						 ,   NAME as "name" 
						 ,   AGE as "age" 
						 ,   SCORE as "score" 
				  	</sql>
  	
	<sql id="objectSQL" >
						  ID as "id" 
						 ,   NAME as "name" 
						 ,   AGE as "age" 
						 ,   SCORE as "score" 
				  	</sql>
	
	<select id="selectByPrimaryKey" resultType="com.myProject.firstT.model.Schoole" parameterType="java.lang.Long" >
    	SELECT 
    	<include refid="mapSQL" />
    	FROM schoole
   		 WHERE 
								 ID=#{id} 
																		  </select>
  
   <select id="selectModelByExample" resultType="com.myProject.firstT.model.Schoole" parameterType="com.myProject.firstT.model.Schoole" >
    SELECT 
    <include refid="objectSQL" />
    FROM schoole
    <where>
    	 <if test="id!=null">AND  ID = #{id}</if>
		<if test="name!=null">AND  NAME = #{name}</if>
		<if test="age!=null">AND  AGE = #{age}</if>
		<if test="score!=null">AND  SCORE = #{score}</if>
		    </where>
  </select>
  
  <select id="selectByExample" resultType="java.util.HashMap" parameterType="com.myProject.firstT.model.Schoole" >
    SELECT 
    <include refid="mapSQL" />
    FROM schoole
    <where>
    	 <if test="id!=null">AND  ID = #{id}</if>
		<if test="name!=null">AND  NAME = #{name}</if>
		<if test="age!=null">AND  AGE = #{age}</if>
		<if test="score!=null">AND  SCORE = #{score}</if>
		    </where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    DELETE FROM schoole
    WHERE 						 ID=#{id} 
																		  </delete>
  
  <!--mysql主键自增-->	
  <insert id="insert" parameterType="com.myProject.firstT.model.Schoole" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO schoole
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	    	    			    	    	    	<if test="name != null" >NAME,</if>
    			    	    	    	<if test="age != null" >AGE,</if>
    			    	    	    	<if test="score != null" >SCORE,</if>
    			    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	    	    			    	    	    	<if test="name != null" >#{name},</if>
				    	    	    	<if test="age != null" >#{age},</if>
				    	    	    	<if test="score != null" >#{score},</if>
				    </trim>
  </insert>
  
   <update id="update" parameterType="com.myProject.firstT.model.Schoole" >
    UPDATE schoole
    <set >
    	    	<if test="id != null" >ID = #{id},</if>
		    	<if test="name != null" >NAME = #{name},</if>
		    	<if test="age != null" >AGE = #{age},</if>
		    	<if test="score != null" >SCORE = #{score},</if>
		    </set>
    WHERE 						 ID=#{id} 
																		  </update>
  
  
	
	<!--mysql批量插入-->	
		 <insert id="insertModels"  parameterType="java.util.List">  
	     insert into schoole
	     <foreach collection="list" item="item" index="index" > 
	     <if test="index ==0"> 
	     <trim prefix="(" suffix=")" suffixOverrides="," >
	     	     	     		 	     	         	 <if test="item.name != null" >NAME,</if>
    	 		 	     	         	 <if test="item.age != null" >AGE,</if>
    	 		 	     	         	 <if test="item.score != null" >SCORE,</if>
    	 		 	     </trim>
	     </if>
	     </foreach>
	     values
	     <foreach collection="list" item="item" index="index" separator="," >  
	     <trim prefix="(" suffix=")" suffixOverrides="," >
	      	      	      		  	      	          			<if test="item.name != null" >#{item.name},</if>
    	  		  	      	          			<if test="item.age != null" >#{item.age},</if>
    	  		  	      	          			<if test="item.score != null" >#{item.score},</if>
    	  		  	     </trim>								    										
	     </foreach>				
	</insert>
	
	
	<!---->
	<update id="updateModels" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="begin"
			close=";end;" separator=";">
			UPDATE schoole
		    <set >
		    			    	<if test="id != null" >ID = #{id},</if>
						    	<if test="name != null" >NAME = #{name},</if>
						    	<if test="age != null" >AGE = #{age},</if>
						    	<if test="score != null" >SCORE = #{score},</if>
						    </set>
		    WHERE 												 ID=#{id} 
																																						</foreach>
	</update>
	
	
</mapper>