<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<h1>登陆成功</h1>
<h1 th:object="${session }">当前登录用户：<span  th:text="*{username}"></span></h1>
<h1>拥有角色
<span  shiro:hasRole="admin">admin</span>
<span  shiro:hasRole="customer">customer</span>
</h1>
<h1>拥有权限<br/>
<span  shiro:hasPermission="add">add</span><br/>
<span  shiro:hasPermission="delete">delete</span><br/>
<span  shiro:hasPermission="query">query</span><br/>
<span  shiro:hasPermission="update">update</span><br/>
<span  shiro:hasAllPermissions="update,add">update+add</span><br/>
<span  shiro:hasAnyPermissions="update,add,query,delete">任意一个权限</span>
</h1>
<h1><a href="a.html" th:href="@{/v1/schoole/add/(user=${session.username}) }">schoole</a></h1>
</body>
</html>